{{log content}}

<ul class='selections'>
  {{#each content.selections as |selection|}}
    <li>
      {{selection.label}}<i {{action 'deselect' selection}}> x</i>
      {{#if selection.options.length}}
        {{deep-select content=selection}}
      {{/if}}
    </li>
  {{/each}}
</ul>

<ul class='options'>
  {{#each content.options as |option|}}
    <li {{action 'select' option}}>{{option.label}}</li>
  {{/each}}
</ul>
