<ul class='selections'>
  {{#each content.selections as |selection index|}}
    {{#if (eq index queryPosition)}}
      <li>
        {{deep-select/query-input value=query enter='complete'
          left=(action 'left') right=(action 'right') del=(action 'del')}}
      </li>
    {{/if}}
    <li>
      {{selection.label}}<i {{action 'deselect' selection}}> x</i>
      {{#if selection.options.length}}
        {{deep-select content=selection}}
      {{/if}}
    </li>
  {{/each}}
  {{#if (eq queryPosition content.selections.length)}}
    <li>
      {{deep-select/query-input value=query enter='complete'
        left=(action 'left') right=(action 'right') del=(action 'del')}}
    </li>
  {{/if}}
</ul>

<ul class='options'>
  {{#each filteredOptions as |option|}}
    <li {{action 'select' option}}>{{option.label}}</li>
  {{/each}}
</ul>
